.imgcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.img{
  width: 550px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* BACKGROUND */

#bg{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* LOGIN AND REGISTER BOX */

#slot{
    background-color: #d3dae0;
}

#texto-card{
    font-weight: bolder;
}

#texto-olvido{
  position: absolute;
  right: 52%;
}

#texto-reg{
  position: absolute;
  right: 52%;
}

#b{
    background-color: #d3dae0;
}

/* BOTONES */

.btn-1 {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #424242;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-1:before {
  content: '';
  background: linear-gradient(45deg, #FF0045, #424242, #3299BB, #FF0045, #424242, #3299BB);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-1:active {
  color: #000
}

.btn-1:active:after {
  background: transparent;
}

.btn-1:hover:before {
  opacity: 1;
}

.btn-1:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn-2 {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-2:before {
  content: '';
  background: linear-gradient(45deg, #FF0045, #424242, #3299BB, #FF0045, #424242, #3299BB);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-2:active {
  color: #000
}

.btn-2:active:after {
  background: transparent;
}

.btn-2:hover:before {
  opacity: 1;
}

.btn-2:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
   
.btn-3 {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-3:before {
  content: '';
  background: linear-gradient(45deg, #FF0045, #424242, #3299BB, #FF0045, #424242, #3299BB);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-3:active {
  color: #000
}

.btn-3:active:after {
  background: transparent;
}

.btn-3:hover:before {
  opacity: 1;
}

.btn-3:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn-4 {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-4:before {
  content: '';
  background: linear-gradient(45deg, #FF0045, #424242, #3299BB, #FF0045, #424242, #3299BB);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-4:active {
  color: #000
}

.bbtn-4:active:after {
  background: transparent;
}

.btn-4:hover:before {
  opacity: 1;
}

.btn-4:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
